body {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans JP', sans-serif;
}

h2 {
    color:#3A7262;
    font-size: 30px;
    text-align: center;
}

h3 {
    color:#3A7262;
    font-size: 25px;
    text-align: left;
    margin: 5px
}

a:link {
    color:#3A7262;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color:#208283;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color:#ba7f7c;
    background-color: transparent;
    text-decoration: underline;
  }

  #topSection {
    color:#3A7262;
    text-emphasis: bold;
    margin-top: 300px;
    justify-content: center;
    text-align: center;
    z-index: -1;
}

#introSection {
    margin-top: 100px;
    justify-content: center;
}

#introText {
    color: #3A7262;
    text-align: left;
    align-items: center;
    padding: 15px;
    border-radius: 20px;
    background-color: rgba(255,255,255, 0.5);
}

.card-text {
    color:#3A7262;
    font-size: 18px;
    text-align: center;
}
.card {
    border-color: white;
}

.cardBody {
    border: 5px solid #3A7262;
}
.list {
    color:#3A7262;
    font-size: 18px;
    text-align: center;
    line-height: 80%;
    margin-top: 25px;
    padding: 10px;
    border-radius: 25px;
    background-color: rgba(255,255,255, 0.5);

}
.background {
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: -1;
    }

#navigation {
    display: grid;
    text-align: left;
    position: fixed;
    top: 0;
    background-color: #FDD7D5;
    color: #3A7262;
    font-weight: 400;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "logo 0 0 0 0 mySkills myWork aboutMe";
}

#logo {
    grid-area: logo;
}
#mySkills {
    grid-area: mySkills;
    margin-top: 25px;
}
#myWork {
    grid-area: myWork;
    margin-top: 25px;
}
#aboutMe {
    grid-area: aboutMe;
    margin-top: 25px;
}

.categoryGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  align-content: end;
}

#bodySection {
    display: grid;
    color:#3A7262;
    margin-top: 200px;
    border: 1px black;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 90px 400px;
    grid-template-areas: 
    "name name name profilePhoto"
    "bodyText bodyText bodyText profilePhoto";
}
#name {
    grid-area: name;
    font-size: 48px;
    color: #3A7262;
    text-align: left;
    align-items: center;
    justify-content: left;
    margin-top: 10px;
    margin-left: 100px;
    font-family: 'Quicksand', sans-serif;
    }

#title {
    grid-area: title;
    font-size: 30px;
    color: #3A7262;
    text-align: left;
    justify-content: left;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    }

#bodyText {
    grid-area: bodyText;
    text-align: top;
}
#profilePhoto {
    grid-area: profilePhoto;
    align-items: center;
    margin-top: 10px;
    
}
.bodyGridArea {
  display: grid;
  background-repeat: no-repeat;
}
.heading {
    margin-left: 100px;
    margin-right: 75px;
    margin-top: 50px;
    padding: 10px;
    border-radius: 25px;
    background-color: rgba(255,255,255, 0.5);
}
#footer {
    display: grid;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FDD7D5;
    color: #3A7262;
    font-weight: 400;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px;
    grid-template-areas: 
    "0 0 0 0 0 0 0 contact";
}
#contact {
    grid-area: contact;
    align-items: center;
    justify-content: center;
}
.footerGridArea {
    display: grid;
}

#mySkillsPage {
    display: grid;
    color:#3A7262;
    margin-top: 200px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas: 
    "skill1 skill2 skill3 skill4";
}

#skill1 {
    grid-area: skill1;
    color: #3A7262;
    text-align: left;
    align-items: center;
    margin:20px;
    padding: 15px;
    border: 5px solid #FDD7D5;
    background-color: rgba(255,255,255, 0.5);
}

#skill2 {
    grid-area: skill2;
    color: #3A7262;
    text-align: left;
    align-items: center;
    margin:20px;
    padding: 15px;
    border: 5px solid #FDD7D5;
    background-color: rgba(255,255,255, 0.5);
}

#skill3 {
    grid-area: skill3;
    color: #3A7262;
    text-align: left;
    align-items: center;
    margin:20px;
    padding: 15px;
    border: 5px solid #FDD7D5;
    background-color: rgba(255,255,255, 0.5);
}

#skill4 {
    grid-area: skill4;
    color: #3A7262;
    text-align: left;
    align-items: center;
    margin:20px;
    padding: 15px 15px 15px 31px;
    border: 5px solid #FDD7D5;
    background-color: rgba(255,255,255, 0.5);
}

ul {
    list-style-type:none;
    padding: 0;
  }

#myWorkBody {
    display: grid;
    color:#3A7262;
    align-items: center;
    margin-top: 200px;
    justify-content: space-evenly;
    grid-template-columns: 300px 500px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "copyCatPhoto copyCat" 
    "streetSmartPhoto streetSmart" 
    "kivaPhoto kiva";
}

#copyCatPhoto {
    grid-area: copyCatPhoto;
}

#copyCat {
    grid-area: copyCat;
    color: #3A7262;
    text-align: left;
    align-items: center;
    margin-top: 20px;
    padding: 15px;
    border: 5px solid #FDD7D5;
    background-color: rgba(255,255,255, 0.5);
}

#streetSmartPhoto {
    grid-area: streetSmartPhoto;
}

#streetSmart {
    grid-area: streetSmart;
    color: #3A7262;
    text-align: left;
    align-items: center;
    padding: 15px;
    border: 5px solid #FDD7D5;
    background-color: rgba(255,255,255, 0.5);
}

#kivaPhoto {
    grid-area: kivaPhoto;
}
#kiva {
    grid-area: kiva;
    color: #3A7262;
    text-align: left;
    align-items: center;
    padding: 15px;
    border: 5px solid #FDD7D5;
    background-color: rgba(255,255,255, 0.5);
}

#homeCards {
    display: grid;
    color:#3A7262;
    align-items: center;
    margin: 25px;
    margin-top: 200px;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px;
    grid-template-areas: 
    "copyCatPhoto streetSmartPhoto kivaPhoto"; 
}


/** Responsive Code Below **/
@media only screen and (max-width: 953px) {
    #bodySection {
        display: grid;
        color:#3A7262;
        align-items: center;
        justify-content: center;
        padding: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: 90px 90px 350px 1fr;
        grid-template-areas: 
        "name"
        "name"
        "profilePhoto"
        "bodyText" ;
}
    #name {
        grid-area: name;
        font-size: 48px;
        color: #3A7262;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        margin-left: 0px;
        font-family: 'Quicksand', sans-serif;
    }
    #profilePhoto {
        grid-area: profilePhoto;
        align-items: center;
        justify-content: center;
        margin-top: 50px;   
    }
    #bodyText {
        grid-area: bodyText;
        text-align: top;
    }
    .heading {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 50px;
        padding: 10px;
        border-radius: 25px;
        background-color: rgba(255,255,255, 0.5);
    }
}
@media only screen and (max-width: 600px) {
    #bodySection {
        display: grid;
        color:#3A7262;
        align-items: center;
        justify-content: space-around;
        padding: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: 90px 90px 350px 1fr;
        grid-template-areas: 
        "name"
        "name"
        "profilePhoto"
        "bodyText";
    }
    #name {
        grid-area: name;
        font-size: 48px;
        color: #3A7262;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        margin-left: 0px;
        font-family: 'Quicksand', sans-serif;
    }
    #profilePhoto {
        grid-area: profilePhoto;
        align-items: center;
        justify-content: center;
        margin-top: 50px;   
    }
    #bodyText {
        grid-area: bodyText;
        text-align: top;
        margin: 0 auto;
    }
    .heading {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 50px;
        padding: 10px;
        border-radius: 25px;
        background-color: rgba(255,255,255, 0.5);
    }
    #mySkillsPage {
        display: grid;
        color:#3A7262;
        grid-template-columns: 1fr;
        grid-template-rows: 25% 25% 25% 25%;
        grid-template-areas: 
        "skill1"
        "skill2" 
        "skill3" 
        "skill4";
    }
    #skill4 {
        grid-area: skill4;
        color: #3A7262;
        text-align: left;
        align-items: center;
        height: 300px;
        margin: 20px;
        padding: 15px 15px 15px 15px;
        border: 5px solid #FDD7D5;
    }

    #myWorkBody {
        display: grid;
        color:#3A7262;
        align-items: center;
        justify-content: center;
        margin: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "copyCatPhoto" 
        "copyCat" 
        "streetSmartPhoto"
        "streetSmart" 
        "kivaPhoto"
        "kiva";
    }
    #copyCatPhoto {
        grid-area: copyCatPhoto;
        width: 200px;
        justify-content: center;
    }
    
    #streetSmartPhoto {
        grid-area: streetSmartPhoto;
        width: 200px;
        justify-content: center;
    }
    
    #kivaPhoto {
        grid-area: kivaPhoto;
        width: 200px;
        justify-content: center;
    }
    #homeCards {
        display: grid;
        color:#3A7262;
        align-items: center;
        margin-top: 200px;
        margin: 20px;
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "copyCatPhoto"
        "streetSmartPhoto"
        "kivaPhoto"; 
    }
}